#mens {
    color: $m-txt;
    font-family: $m-font;
    background-color: $m-bg;
    #header {
        padding: 0 50px;
        background-color: $m-card-bg;
        border-bottom: solid $m-bg 4px;
        .header_logo {
            &-mode {
                box-shadow:0px 0px 10px 0px #000 inset;
                border-radius: 20px;
                overflow: hidden;
                &Link {
                    display: block;
                    padding: 5px 15px;
                    transition: .3s;
                    &:first-child {
                        color: $m-card-bg;
                        background: $m-caution;
                        &:hover {
                            color: $m-card-bg;
                            background: $m-caution;
                        }
                    }
                    &:hover {
                        color: $m-txt;
                        background: $m-bg;
                    }
                }
            }
            &-txt {
                padding-right: 20px;
            }
        }
        .header_links {
            .header_links-link {
                letter-spacing: 1px;
                border-radius: 5px;
                transition: .2s;
                &:hover {
                    background-color: $m-bg;
                }
            }
        }
    }

    #mainv {
        .mainv_box {
            &-txt {
                &Title {
                    font-size: 124px;
                }
                &Sub {
                    font-size: 24px;
                    text-align: center;
                }
            }
        }
    }

    #section01 {
        background-color: $m-card-bg;

        .section01_box {
            transition: 0.5s;
            opacity: 0;
            &-card {
                &Img {
                    background-image: linear-gradient(
                        to right,
                        #eea2a2 0%,
                        #bbc1bf 19%,
                        #57c6e1 42%,
                        #b49fda 79%,
                        #7ac5d8 100%
                    );
                    color: #fff;
                    background-size: 600% 600%;
                    animation-name: images-bg;
                    animation-duration: 6s;
                    animation-timing-function: ease;
                    animation-iteration-count: infinite;
                }

                &Desc {                    
                    &Txt {
                        display: inline;
                        padding: 10px;
                        background-color: $m-bg;
                    }
                }
            }
        }
    }

    #section02 {
        .section02_box-swiper {
            .section2_box-swiperImg {
                font-weight: bold;
                background-image: linear-gradient(
                    to right,
                    #eea2a2 0%,
                    #bbc1bf 19%,
                    #57c6e1 42%,
                    #b49fda 79%,
                    #7ac5d8 100%
                );
                background-size: 600% 600%;
                color: $m-card-bg;
                animation-name: images-bg;
                animation-duration: 6s;
                animation-timing-function: ease;
                animation-iteration-count: infinite;
            }
            .swiper-pagination-bullet-custom {
                opacity: 0.7;
                border-radius: 50%;
                transition: 0.3s;
                &:hover {
                    opacity: 1;
                }
                &.swiper-pagination-bullet-active {
                    opacity: 1;
                    border-radius: 0;
                    transform: rotate(45deg);
                    background: $m-caution;
                }
            }
        }
    }

    #section03 {        
        .section03_box {
            &-card {
                background-color: $m-card-bg;

                &Mainv {
                    &Img {
                        background-image: linear-gradient(
                            to right,
                            #eea2a2 0%,
                            #bbc1bf 19%,
                            #57c6e1 42%,
                            #b49fda 79%,
                            #7ac5d8 100%
                        );
                        background-size: 600% 600%;
                        animation-name: images-bg;
                        animation-duration: 6s;
                        animation-timing-function: ease;
                        animation-iteration-count: infinite;
                        width: 100%;
                        height: 100%;
                    }
                }

                &Body {
                    &Label {
                        transition: 0.5s;
                        &::after {
                            content: "+";
                            font-size: 32px;
                            position: absolute;
                            top: calc(50% - 16px);
                            right: 10px;
                            transition: 0.8s;
                            transform: rotate(0deg);
                        }
                        &:hover {
                            background-color: $m-txt;
                            color: $m-card-bg;
                        }
                    }
                    &Tab:checked ~ .section03_box-cardBodyLabel {
                        background-color: $m-txt;
                        color: $m-card-bg;
                        &::after {
                            transform: rotate(45deg);
                        }
                    }
                }
            }
        }
    }

    #footer {
        background-color: $m-card-bg;
        .footer_links {
            &-link {
                border-radius: 5px;
                &:hover {
                    background-color: $m-bg;
                }
            }
        }
        .footer_logo {
            &-txt {
                font-size: 24px;
                border-radius: 3px;
                background-color: $m-bg;
            }
        }
    }

    $m-load-font: 124px;
    .load {
        top: 0;
        left: 0;
        position: fixed;
        height: 100vh;
        width: 100vw;
        animation-name: mens-openning3;
        animation-delay: 1.8s;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        z-index: 9999;
        .load_wrapper {
            font-size: $m-load-font;
            letter-spacing: 2px;
            &.placeholder {
                visibility: hidden;
            }
        }
        .load_wrapper:not(.placeholder) {
            position: absolute;
            left: 0;
            width: 20%;
            height: 100%;
            overflow: hidden;
            background-color: $m-card-bg;
            text-shadow: 8px 8px 0 $m-txt;
            animation: mens-openning1 1s ease 0.8s forwards;
            .load_wrapper-txt {
                color: #fff;
                position: absolute;
                white-space: nowrap;
                animation: mens-openning-text 0.5s ease forwards;
            }
            &:nth-child(2n) {
                background-color: $m-bg;
                animation-name: mens-openning2;
            }
            @for $i from 1 through 5 {
                &:nth-of-type(#{$i}) {
                    left: ($i - 1) * 20%;
                    .load_wrapper-txt {
                        left: -(($i - 3) * 100%) - 80%;
                    }
                }
            }
        }
    }
}
