@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@100&family=Kosugi&family=M+PLUS+Rounded+1c:wght@100&family=Righteous&display=swap');// 男性向け配色
$m-bg: #242629;
$m-shadow: #72757e;
$m-card-bg: #16161a;
$m-txt: #94a1b2;
$m-highlight: #7f5af0;
$m-caution: #2cb67d;
$m-font: 'Righteous', cursive, 'Kosugi', sans-serif;

// 女性向け配色
$l-bg: #f2f4f6;
$l-shadow: #72757e;
$l-card-bg: #dfe4ea;
$l-txt: #1b2d45;
$l-highlight: #00ebc7;
$l-caution: #ff5470;
$l-font: 'Josefin Slab', serif, 'M PLUS Rounded 1c', sans-serif;
